version: "3.7"

services:
  database:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1006361228mA!
      POSTGRES_DB: restaurants
    ports:
      - 5432:5432
    networks:
      - interview
  
  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      - PGADMIN_DEFAULT_EMAIL=myepes82@misena.edu.co
      - PGADMIN_DEFAULT_PASSWORD=1234
    depends_on:
      - database
    ports:
      - 80:80
    networks:
      - interview

      
  backend:
    environment:
      NODE_ENV: production
      SECRET: 1006361228mA!
      RDS_HOSTNAME: localhost
      RDS_PORT: 5432
      RDS_PASSWORD: 1006361228mA!
      RDS_DB_NAME: restaurants
      RDS_USERNAME: postgres
    ports:
      - 8080:8080
    build: . 
    depends_on:
      - database
    networks:
      - interview
  
networks:
  interview:
    driver: bridge
